# app details
VITE_APP_NAME = ****APP_NAME****
VITE_APP_DESCRIPTION = ****APP_DESCRIPTION****

# main api url of the app
VITE_API_URL = ****API_URL****

# app environment (can be "dev" | "prod" | "qa" )
VITE_APP_ENV = dev